<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="">
       <header>
            <div class="logo">
                <div class="avatar">E</div>
                <h2>Edu quest</h2>
            </div>
            <button class="theme-btn" id="dark-btn">
                 🌙
            </button>
       </header>
       <section class="bem-vindo">
            <h1>Olá, estudante.</h1>
            <p>Pronto para aprender hoje?</p>
       </section>
       <section class="challenge-card">
            <span>Desafios da Semana</span>
            <h2>Teste as suas habilidades!</h2>
            <p>
                perguntas variadas para todas as matérias
            </p>
       </section>
       <h2 class="title">Matérias</h2>
       <div id="subjects"></div>
    </div>
    <div class="subject">
        <nav class="bottom-nav">
        <button>🏠<span>Portugues</span></button>
        <button>📖<span>Matematica</span></button>
        <button>🏆<span>Pontuação</span></button>
        <button>👤<span>Usuário</span></button>
    </nav>
    </div>
    <script src="script.js"></script>
</body>
</html>