<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Interativo</title>
    <link rel="stylesheet" href="tela_inicial/estilo.css">
</head>
<body>

    <div class="container">
        <h1>Quiz de portugues</h1>

        <div id="quiz">
            <div id="pergunta" class="pergunta"></div>
            <div id="opcoes"></div>

            <button id="proximo">Próxima</button>
        </div>

        <div id="resultado"></div>
    </div>
    <div ontouchstart="">
    <script src="Java.script.js"></script>

</body>
</html>